.main_page {
    display: flex;
    height: 100vh;
}


.calendar_component {
    display: flex;
    
}

.today_items {
    padding: 40px 20px;
    -webkit-box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.27);
    box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.27);
    text-align: start;
    width: 250px;

    h3 {
        font-size: 30px;
    }
    
    h5 {
        margin-top: 10px;
        font-size: 18px;
        font-weight: 400;
        color: rgb(153, 153, 153);
    }

    .items {
        margin-top: 30px;
    }

    .item {

        padding: 10px;
        background: rgb(233, 233, 255);
        border-radius: 5px;

        p {
            padding: 0;
            padding-bottom: 7px;
            margin: 0;
        }
    }
}

.calander_cont {
    margin: 0px 60px;
    padding: 60px;
    height: 100%;
    min-height: 600px;
}


.add_button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 40px;
    display: flex;
    align-items: center;
    padding-top: 10px;
    justify-content: center;
    border: none;
    background-color: var(--primary-color);
    color: #FFF;

    -webkit-box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.27);
    box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.27);
    opacity: 0.8;
    transition: all ease 300ms;
    z-index: 999;
}

.add_button:hover{
    opacity: 1;
}



.content {
    padding: 0px 30px;
    h1 {
        font-size: 24px;
    }

    input {
        border: none;
        border-bottom: 1px solid var(--secondary-text);
    }

    > input {
        margin: 20px 0px;        
    }

    button {
        margin-top: 80px;
        border: none;
        background-color: var(--primary-color);
        color: #FFF;
        padding: 5px 10px;
        font-size: 14px;
        margin-right: 10px;
        border-radius: 2px;
    }

    button:nth-of-type(2) {
        background-color: rgb(255, 124, 124);
    }
}




.calendar_item {
    p {
        font-size: 11px;
        padding: 0px;
        margin: 0px;
    }
}