.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px calc(var(--sect-lr-mg) - 20px) ;
}

.nav_component {
    display: flex;
    align-items: center;
    flex-grow: 1;

    img {
        height: 70px;
        padding-top: 15px;
    }

    .links {
        width: 100%;
        padding: 0;
        margin: 0;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        li {
            list-style: none;

            a{
                text-decoration: none;
                color: var(--dark-bg-text);
                opacity: 0.7;
                transition: 300ms ease;
            }

            a:hover{
                opacity: 1;
            }
        }

        
    }

    .login_button {
        padding: 10px 30px;
        border: none;
        background-color: var(--bg-color);
        border-radius: 100px;
        font-weight: 600;
        opacity: 0.7;
        transition: 300ms ease;
    }

    .login_button:hover {
        opacity: 1;

    }
}

.nav_component:nth-of-type(3) {
    justify-content: end;
}

@keyframes fall {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to  {
        opacity: 1;
        transform: translateY();
    }
}

